.card {
  margin: 20px;
  width: 18rem;
  border-radius: 0.7rem;
  background: none;
  color: aliceblue;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);

  font-family: "Roboto", sans-serif;
}

.card-title {
  margin-bottom: 15px;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.btn {
  background: none;
  color: white;
}
