.search {
  opacity: 0.7;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: none;
  color: white;
  background-image: none !important;
  background: transparent !important;
  border: none !important;
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-size: large;
}
.add {
  opacity: 0.7;
  color: white;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: none !important;
  background: transparent !important;
  border: none !important;
}
::placeholder {
  color: white;
}
